In [4]:
import csv
import pandas as pd

In [8]:
# Creating nested list
std_list=[['Name','Branch','Year','CGPA'],['Kate','RA',2020,9.4],['Alex','MR',2021,8.8],['Samuel','CS',2022,7.9],
         ['Jack','AD',2019,8.5],['Nate','MR',2020,9.1],['Kevin','EEE',2022,8.2],['Daniel','CS',2021,9.1],
         ['James','MR',2019,8.6],['Aaron','CS',2019,9.7]]

with open('StudentData.csv','w',newline='') as std_file :
    writer = csv.writer(std_file) 
    writer.writerows(std_list)

In [9]:
# Read csv file to a dataframe and print it.
df=pd.read_csv('StudentData.csv')
df

     Name Branch  Year  CGPA
0    Kate     RA  2020   9.4
1    Alex     MR  2021   8.8
2  Samuel     CS  2022   7.9
3    Jack     AD  2019   8.5
4    Nate     MR  2020   9.1
5   Kevin    EEE  2022   8.2
6  Daniel     CS  2021   9.1
7   James     MR  2019   8.6
8   Aaron     CS  2019   9.7

In [14]:
df.columns

Index(['Name', 'Branch', 'Year', 'CGPA'], dtype='object')

In [13]:
# Show the first n rows - head
df.head(3)

     Name Branch  Year  CGPA
0    Kate     RA  2020   9.4
1    Alex     MR  2021   8.8
2  Samuel     CS  2022   7.9

In [12]:
# Show the last n rows - tail
df.tail(3)

     Name Branch  Year  CGPA
6  Daniel     CS  2021   9.1
7   James     MR  2019   8.6
8   Aaron     CS  2019   9.7

In [16]:
# Print a particular column
print(df['Year'])

0    2020
1    2021
2    2022
3    2019
4    2020
5    2022
6    2021
7    2019
8    2019
Name: Year, dtype: int64

In [18]:
row,col=df.shape
print("Rows : ",row)
print("Columns : ",col)

# OR
# row=df.shape[0]
# col=df.shape[1]

Rows :  9
Columns :  4

In [22]:
df.sort_values(['CGPA'])

     Name Branch  Year  CGPA
2  Samuel     CS  2022   7.9
5   Kevin    EEE  2022   8.2
3    Jack     AD  2019   8.5
7   James     MR  2019   8.6
1    Alex     MR  2021   8.8
4    Nate     MR  2020   9.1
6  Daniel     CS  2021   9.1
0    Kate     RA  2020   9.4
8   Aaron     CS  2019   9.7