In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

df=pd.read_csv("car data.csv")
row,col=df.shape
print("Rows ",row)
print("Column : ",col)

Rows  301
Column :  9

In [2]:
df.head(10)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000.0,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000.0,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900.0,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200.0,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450.0,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071.0,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796.0,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429.0,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273.0,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367.0,Diesel,Dealer,Manual,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
Car_Name         301 non-null object
Year             301 non-null int64
Selling_Price    301 non-null float64
Present_Price    299 non-null float64
Kms_Driven       300 non-null float64
Fuel_Type        299 non-null object
Seller_Type      298 non-null object
Transmission     301 non-null object
Owner            301 non-null int64
dtypes: float64(3), int64(2), object(4)
memory usage: 21.3+ KB

In [4]:
# Checking for null values
df.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    2
Kms_Driven       1
Fuel_Type        2
Seller_Type      3
Transmission     0
Owner            0
dtype: int64

In [5]:
# Filling in missing values using statisctic functions

In [6]:
df['Present_Price']=df['Present_Price'].fillna(df['Present_Price'].mean())

In [7]:
df['Kms_Driven']=df['Kms_Driven'].fillna(df['Kms_Driven'].mean())

In [8]:
df['Fuel_Type']=df['Fuel_Type'].fillna(df['Fuel_Type'].mode()[0])

In [9]:
# Verifying if there exists null values
df.isna().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      3
Transmission     0
Owner            0
dtype: int64

In [10]:
df['Fuel_Type'].mode()[0]

'Petrol'

In [11]:
# Changing Year to more Relevant data
df['Year']=2023-df['Year']
df.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,9,3.35,5.59,27000.0,Petrol,Dealer,Manual,0
1,sx4,10,4.75,9.54,43000.0,Diesel,Dealer,Manual,0
2,ciaz,6,7.25,9.85,6900.0,Petrol,Dealer,Manual,0
3,wagon r,12,2.85,4.15,5200.0,Petrol,Dealer,Manual,0
4,swift,9,4.60,6.87,42450.0,Diesel,Dealer,Manual,0

In [12]:
df['Car_Name'].value_counts()

city                  26
corolla altis         16
verna                 14
fortuner              11
brio                  10
                      ..
Hero  Ignitor Disc     1
Bajaj  ct 100          1
Hero  CBZ Xtreme       1
Hyosung GT250R         1
s cross                1
Name: Car_Name, Length: 98, dtype: int64

In [13]:
# Droping Car Name
df.drop(['Car_Name'],axis=1,inplace=True)
df.head(5)

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,9,3.35,5.59,27000.0,Petrol,Dealer,Manual,0
1,10,4.75,9.54,43000.0,Diesel,Dealer,Manual,0
2,6,7.25,9.85,6900.0,Petrol,Dealer,Manual,0
3,12,2.85,4.15,5200.0,Petrol,Dealer,Manual,0
4,9,4.60,6.87,42450.0,Diesel,Dealer,Manual,0

In [14]:
df['Fuel_Type'].value_counts()

Petrol    240
Diesel     59
CNG         2
Name: Fuel_Type, dtype: int64

In [15]:
df['Seller_Type'].value_counts()

Dealer        192
Individual    106
Name: Seller_Type, dtype: int64

In [16]:
df['Transmission'].value_counts()

Manual       261
Automatic     40
Name: Transmission, dtype: int64

In [17]:
# Convert categorical data to numerical data using pd.get_dummies()
df=pd.get_dummies(df,drop_first=True)
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,9,3.35,5.59,27000.0,0,0,1,0,1
1,10,4.75,9.54,43000.0,0,1,0,0,1
2,6,7.25,9.85,6900.0,0,0,1,0,1
3,12,2.85,4.15,5200.0,0,0,1,0,1
4,9,4.60,6.87,42450.0,0,1,0,0,1

In [18]:
# StandardScaler is used for standardisation
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [19]:
# Year is normalised
df['Year']=sc.fit_transform(df[['Year']])
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,-0.128897,3.35,5.59,27000.0,0,0,1,0,1
1,0.217514,4.75,9.54,43000.0,0,1,0,0,1
2,-1.168129,7.25,9.85,6900.0,0,0,1,0,1
3,0.910335,2.85,4.15,5200.0,0,0,1,0,1
4,-0.128897,4.60,6.87,42450.0,0,1,0,0,1

In [20]:
df.columns

Index(['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven', 'Owner',
       'Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Seller_Type_Individual',
       'Transmission_Manual'],
      dtype='object')

In [21]:
X=df[['Year', 'Present_Price', 'Kms_Driven', 'Owner','Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Seller_Type_Individual','Transmission_Manual']]
y=df[['Selling_Price']]

In [22]:
#Split data to train and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.20,random_state=20)

In [23]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [24]:
lr.fit(X_train,y_train)

LinearRegression()

In [27]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, lr.predict(X_test))
print("R2 Score : ",r2)

R2 Score :  0.9235814633587744

In [28]:
new_data=[[-1,4.35,15000.0,0,0,1,0,1]]
y_pred=lr.predict(new_data)
print("Selling Price : ",y_pred)

Selling Price :  [[4.49707992]]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(